<a href="https://colab.research.google.com/github/kovatan/IntroRepo1/blob/main/Homework3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
first_names = ['Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika']
print(len(first_names))
first_names[0]

8

'Deniz'

In [9]:
first_names = ['Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika']
first_names[0:2]

['Deniz', 'Rachel']

In [12]:
first_names = ['Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika']
first_names.append('Tetyana')
print(first_names)

['Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika', 'Tetyana']

In [13]:
first_names = ['Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika']
first_names.remove('Anika')
print(first_names)

['Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman']

In [20]:
person = {"first_name" : "Tetyana", "last_name" : "Kovalenko"}
print(person)
list(person.values())

{'first_name': 'Tetyana', 'last_name': 'Kovalenko'}

['Tetyana', 'Kovalenko']

In [21]:
boolean_var=False
print(not boolean_var)

True

In [35]:
first_names_tuple = ('Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika')
print(first_names_tuple)
print(len(first_names_tuple))
print(first_names_tuple[0])
print(first_names_tuple[7])
print(first_names_tuple[1:3])
if 'Oksana' in first_names_tuple:
  print('Yes, Oksana is in our group')

('Deniz', 'Rachel', 'Olivia', 'Oksana', 'Milena', 'Amy', 'Usman', 'Anika')
8
Deniz
Anika
('Rachel', 'Olivia')
Yes, Oksana is in our group

In [40]:
first_names_set = {"Deniz", "Rachel", "Olivia", "Oksana", "Milena", "Amy", "Usman", "Anika"}
print(first_names_set)
first_names_set = set(("Deniz", "Rachel", "Olivia", "Oksana", "Milena", "Amy", "Usman", "Anika"))
print(first_names_set)
if "Oksana" in first_names_set:
  print('Yes, Oksana is in our group')
first_names_set.add("Nesli")
print(first_names_set)

{'Milena', 'Anika', 'Amy', 'Usman', 'Olivia', 'Deniz', 'Rachel', 'Oksana'}
{'Milena', 'Anika', 'Amy', 'Usman', 'Olivia', 'Deniz', 'Rachel', 'Oksana'}
Yes, Oksana is in our group
{'Milena', 'Anika', 'Amy', 'Usman', 'Nesli', 'Olivia', 'Deniz', 'Rachel', 'Oksana'}